doctype html
html
  head
    meta(charset='UTF-8')
    title url shortener
    link(rel='stylesheet', href='/css/styles.css')
  body
    #container
      #content
        form#shorten(method='get', action='/addurl/')
          input#url(placeholder='Paste a URL to shorten it!', name='url', type='url', size='50', required='required', pattern='https?://.+')
          input#btn(type='submit', value='Shorten!')
        p 
          a(href='http://shulten.herokuapp.com/') Shorten another one!
          a(href='https://github.com/fewf/url_shortener', target='_blank') github
