doctype html
html
  head
    meta(charset='UTF-8')
    title url shortener
    link(rel='stylesheet', href='../styles.css')
  body
    #container
      #content
        form#shorten(method='get', action='/addurl/')
          input#url(placeholder='Paste a URL to shorten it!', name='url', type='url', size='50', required='required', pattern='https?://.+')
          input#btn(type='submit', value='Shorten!')
          a(href='https://github.com/greggreggreg7/url_shortener', target='_blank') github
    script(type='text/javascript', src='../client_url_validation.js')
